<html>

<head>
  <!-- Metadata -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Facebook -->
  <meta property="og:title" content="William Wang">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://williamvwang.github.io/img/logo.png">
  <meta property="og:image:width" content="256">
  <meta property="og:image:height" content="256">
  <meta property="og:url" content="https://williamvwang.github.io">
  <meta property="og:description" content="">
  <title>{{ page.title }}</title>
  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <!-- Styles -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.css">
  <script src="https://unpkg.com/feather-icons"></script>
  <link href="/css/main.css" rel="stylesheet">
</head>

<body>
  {{ content }}
</body>

</html>